.calculator {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    padding-right:8px;
    padding-bottom: 8px;
    overflow: hidden;
    user-select: none;

    .calculator-header {
        display: flex;
        flex-direction: column;
        background-color: #F0F7F7;
        max-width: 100vw;
        min-height: 90px;
        padding-left: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        .calculator-header-bigtext {
            font-size: 50px;
            font-weight: 600;
            color: #000;
        }

        .calculator-header-smalltext {
            font-size: 16px;
            color: #838b8a;
            margin-left: 10px;
        }
    }

    .calculator-body {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        height: calc(100vh - 124px);
        overflow: auto;

        .calculator-frame {
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 450px;
            background-color: #F7F8FB;
            border-radius: 17px;
            overflow-y: hidden;

            .calculator-screen {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                padding: 16px;
                height: 120px;
                margin-bottom: 10px;

                .calculator-screen-calculation {
                    font-size: 14px;
                    color: #838b8a;
                    margin-bottom: 8px;
                    max-width: 100%;
                    overflow-x: auto;
                    text-align: right;
                    white-space: nowrap;
                    overflow-x: auto;
                    scrollbar-width: none; /* Firefox */
                    -ms-overflow-style: none; /* IE and Edge */
                    
                    &::-webkit-scrollbar {
                        display: none; /* Chrome, Safari, Opera */
                    }


                    // Thêm các class mới cho phần calculation
                    &.medium-text {
                        font-size: 12px;
                    }
                    
                    &.small-text {
                        font-size: 10px;
                    }

                }

                .calculator-screen-result {
                    font-size: 32px;
                    font-weight: 600;
                    color: #000;
                    max-width: 100%;
                    overflow-x: auto;
                    text-align: right;
                    white-space: nowrap;
                    overflow-x: auto;
                    scrollbar-width: none; /* Firefox */
                    -ms-overflow-style: none; /* IE and Edge */
                    &::-webkit-scrollbar {
                        display: none; /* Chrome, Safari, Opera */
                    }

                    
                    // Thêm các class mới cho phần result
                    &.medium-text {
                        font-size: 28px;
                    }
                    
                    &.small-text {
                        font-size: 24px;
                    }
                }
            }

            .calculator-buttons {
                display: flex;
                flex-direction: column;
                padding: 16px;
                height: calc(100% - 150px);

                .row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    .calculator-button {
                        width: 50px;
                        height: 50px;   
                        background-color: #FFFFFF;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 24px;
                        color: #000;
                        cursor: pointer;
                        transition: background-color 0.3s;

                        &:hover {
                            background-color: #E0E0E0;
                        }

                        &:active {
                            background-color: #D0D0D0;
                        }
                    }

                    .calculator-button-equals {
                            background-color: #0430f5;
                            color: #FFFFFF;

                            &:hover {
                                background-color: #0320c5;
                            }

                            &:active {
                                background-color: #0210a5;
                            }
                        }

                    .calculator-button-addition {
                        background-color :#ADE2FF;
                        color: #032ad8;
                        &:hover {
                            background-color: #8CCBFF;
                        }
                        &:active {
                            background-color: #6AB3FF;
                        }

                    }

                    .calculator-button-subtraction {
                        background-color: #ADE2FF;
                        color: #032ad8;
                        &:hover {
                            background-color: #8CCBFF;
                        }
                        &:active {
                            background-color: #6AB3FF;
                        }
                    }

                    .calculator-button-multiplication {
                        background-color: #ADE2FF;
                        color: #032ad8;
                        &:hover {
                            background-color: #8CCBFF;
                        }
                        &:active {
                            background-color: #6AB3FF;
                        }
                    }

                    .calculator-button-division {
                        background-color: #ADE2FF;
                        color: #032ad8;
                        &:hover {
                            background-color: #8CCBFF;
                        }
                        &:active {
                            background-color: #6AB3FF;
                        }
                    }

                    .calculator-button-percent {
                        background-color: #ADE2FF;
                        color: #032ad8;
                        &:hover {
                            background-color: #8CCBFF;
                        }
                        &:active {
                            background-color: #6AB3FF;
                        }
                    }

                    .calculator-button-clear {
                        background-color: #FF4C4C;
                        color: #FFFFFF;
                        &:hover {
                            background-color: #e03c3c;
                        }

                        &:active {
                            background-color: #c02c2c;
                        }

                        &:disabled {
                            background-color: #d0d0d0;
                            color: #838b8a;
                            cursor: not-allowed;
                        }

                        &:disabled:hover {
                            background-color: #d0d0d0;
                        }
                        &:disabled:active {
                            background-color: #d0d0d0;
                        }
                        }
                }

                .row:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}